
.special {
    width: 1250px;
    margin: 0 auto;
}

.special .product-item {
    float: right;
    width: 24%;
}

.product-item-info {
    width: 100%;
}

.column.main .product-item {
    margin-left: 1.2%;
    padding-left: 0;
}

.column.main .product-item:nth-child(4n) {
    margin-left: 0;
}

.special-title{
    width: 1240px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px auto;
}


.special-title span {
    background: #ffffff;
    padding:0 10px;
}

.swiper-slide.item.product.product-item:nth-child(4n+1) .product-item-photo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 182px solid transparent;
    top: 1px;
    left: -1px;
    border-top: 148px solid ;
    z-index: 1;
}

.swiper-slide.item.product.product-item:nth-child(4n+2) .product-item-photo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 182px solid transparent;
    bottom: 70px;
    left: -1px;
    border-bottom: 148px solid ;
    z-index: 1;
}

.swiper-slide.item.product.product-item:nth-child(4n+3) .product-item-photo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 182px solid transparent;
    top: 0;
    left: -1px;
    border-top: 148px solid;
    z-index: 1;
}

.swiper-slide.item.product.product-item:nth-child(4n+4) .product-item-photo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 182px solid transparent;
    bottom: 70px;
    right: 0;
    border-bottom: 148px solid;
    z-index: 1;
}



