.metro{
    margin: 20px auto;
}

.metro ul{
    display: inline-block;
    padding: 0;
}
@media (min-width: 1036px){
    .metro li {
        float: right;
        margin-left: 5px;
        list-style-type: none;
        position: relative;
        width: 33%;
    }
    .metro li:nth-child(3n){
        margin-left: 0;
    }
}

@media (max-width: 1036px){
    .metro li {
        float: right;
        margin-left: 5px;
        list-style-type: none;
        position: relative;
        width: 49.65%;
    }
    .metro li:nth-child(2n){
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .metro li {
        float: right;
        margin-left: 5px;
        list-style-type: none;
        position: relative;
        width: 100%;
    }
    .metro li{
        margin-left: 0;
    }
}

.metro img {
    width: 100%;
}

.metro li:nth-child(1) div:after{
     border-top: 156px solid rgba(163,207,208,0.8);
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-left: 193px solid transparent;
     top: 0px;
     right: 0px;

 }

.metro li:nth-child(1) img{
    border-bottom: 10px solid rgba(163,207,208,0.8);
}

.metro li:nth-child(2) div:after{
    border-bottom: 156px solid rgba(75,75,92,0.8);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 193px solid transparent;
    bottom: 5px;
    left: 0px;
}

.metro li:nth-child(2) img{
    border-bottom: 10px solid rgba(75,75,92,0.8);
}

.metro li:nth-child(3) div:after{
    border-top: 156px solid rgba(252,215,211,0.8);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 193px solid transparent;
    top: 0px;
    left: 0px;
}

.metro li:nth-child(3) img{
    border-bottom: 10px solid rgba(252,215,211,0.8);
}

.metro li:nth-child(4) div:after{
    border-top: 156px solid rgba(252,215,211,0.8);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: 193px solid transparent;
    top: 0px;
    left: 0px;
}

.metro li:nth-child(4) img{
    border-bottom: 10px solid rgba(252,215,211,0.8);
}

.metro li:nth-child(5) div:after{
    border-bottom: 156px solid rgba(123,125,145,0.8);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 193px solid transparent;
    bottom: 5px;
    right: 0px;
}

.metro li:nth-child(5) img{
    border-bottom: 10px solid rgba(123,125,145,0.8);
}

.metro li:nth-child(6) div:after{
    border-top: 156px solid rgba(255,249,179,0.8);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 193px solid transparent;
    top: 0px;
    right: 0px;
}

.metro li:nth-child(6) img{
    border-bottom: 10px solid rgba(255,249,179,0.8);
}

.metro label{
    margin-top: 20%;
    color: white;
    font-size: 38px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

.metro a div {
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128,0.6);
    position: absolute;
    top: 0;
    text-align: center;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 1%, rgba(0,0,0,0.43) 35%, rgba(0,0,0,0.31) 53%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.43) 35%,rgba(0,0,0,0.31) 53%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.43) 35%,rgba(0,0,0,0.31) 53%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.metro a:hover label{
    color: #a7a7a7;
    border: 1px solid #a7a7a7;

}