<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/menu.xsd">
    <menu>
        <add id="Tech_Slider::action" title="Slider" module="Tech_Slider" sortOrder="12" action="tech_slider/post" resource="Tech_Metro::post" parent="Tech_Metro::metro"/>
    </menu>
</config>
